@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
/* 
#category_card:hover #category_button {
  display: block;
} */

.swiper-wrapper {
  padding-top: 30px;
  padding-bottom: 10px;
}